.bg-pattern {
  background-image: url("https://github.com/joennespreuwers/speelplaatsrock/blob/c377e38c55d4885aca7b8a3300b48563bee5e9cb/assets/background.png?raw=true");
}
.welcome_header {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container-welcome_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  color: white;
}
.buttons {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
  border-radius: 20px 20px 20px 20px;
  border: 2px outset #d1a7fd;
  background: #ffffff00;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: rgb(209, 167, 253);
  border-right-color: rgb(209, 167, 253);
  border-bottom-color: rgb(209, 167, 253);
  border-left-color: rgb(209, 167, 253);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(209, 167, 253);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  font-weight: 600;
}
.col-md-4:empty {
  display: table-cell;
  height: 75px;
}
.row {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 0;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin: 0 0 0 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.buttons:hover {
  background: #d1a7fd;
  color: 333333;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(209, 167, 253);
  transition-duration: 0.4s;
}
.footer {
  height: auto;
}
.sponsors {
  padding: 100px 0 100px 0;
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 100px;
  padding-left: 0px;
}
.col-md-6:empty {
  display: table-cell;
  height: 75px;
}
.col-md-6 {
  display: flex;
  flex-direction: column;
}
.col-md-12:empty {
  display: table-cell;
  height: 75px;
}
.col-md-3:empty {
  display: table-cell;
  height: 75px;
}
.col-md-9:empty {
  display: table-cell;
  height: 75px;
}
.col-md-3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.goede_doelen {
  padding: 50px 0 50px 0;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
.info {
  padding: 50px 0 50px 0;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
.line_up {
  margin: 0 0 0 0;
  padding: 50px 0 50px 0;
  opacity: 1;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
.col-md-6.colored-div-left {
  opacity: 0.75;
  border-radius: 0 30px 30px 0;
  padding: 10px 22px 10px 22px;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
}
.colored-div-left {
  background-color: rgb(209, 167, 253);
  padding: 10px 22px 20px 22px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 20px;
  padding-left: 22px;
}
.div-colored-right {
  border: 3px solid #d1a7fd;
  border-radius: 30px 0 0 30px;
  padding: 10px 22px 10px 22px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(209, 167, 253);
  border-right-color: rgb(209, 167, 253);
  border-bottom-color: rgb(209, 167, 253);
  border-left-color: rgb(209, 167, 253);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
}
.black {
  color: 333333;
}
.colored-div-right-filled {
  background-color: rgb(209, 167, 253);
  opacity: 0.75;
  padding: 10px 22px 20px 22px;
  border-radius: 30px 0 0 30px;
  margin: 0 0 0 0;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 20px;
  padding-left: 22px;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.red {
  color: rgb(184, 93, 93);
}
.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  color: rgb(78, 78, 78);
}
.colored {
  width: 3vw;
  filter: invert(84%) sepia(26%) saturate(4101%) hue-rotate(201deg) brightness(96%) contrast(106%);
}
#iiwt {
  width: 60%;
}
#isss {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}
#i8yjg {
  display: flex;
  justify-content: center;
  align-items: center;
}
#itqk4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#buttons {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-right: 0px;
  margin-bottom: -30px;
  margin-left: 0px;
}
#iwufj {
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
}
#ix0jc {
  color: rgb(209, 167, 253);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 1em;
}
#i1jib {
  font-size: 17.6px;
  color: rgb(209, 167, 253);
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}
#ie688 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
#ior69 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
#iu1j5 {
  color: rgb(209, 167, 253);
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
#ik33b {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  line-height: 24.4px;
}
#im9dl {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
#i1skx {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
#i7e9j {
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 8px;
  margin-left: 0px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
#isw9m {
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: "Courier New", Courier, monospace;
}
#ic3moz {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 2em;
}
#ijq7wm {
  width: 100%;
}
#ilh161 {
  width: 100%;
}
#i25taf {
  width: 100%;
}
#ickuv9 {
  width: 100%;
}
#iefn5i {
  width: 100%;
}
#i34nug {
  width: 100%;
}
#iehrwd {
  width: 100%;
}
#inisak {
  width: 100%;
}
#i6hxv1 {
  width: 100%;
}
#iof1p4 {
  width: 100%;
}
#ifir6y {
  width: 100%;
}
#itdfog {
  width: 100%;
}
#i5wupj {
  width: 100%;
}
#itjp2i {
  width: 100%;
}
#igqxdf {
  width: 100%;
}
#imbosg {
  width: 100%;
}
#is15s3 {
  width: 100%;
}
#ijkgh3 {
  width: 100%;
}
#ivm7d {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(209, 167, 253);
  opacity: 0.75;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
#io8lz {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#ig3y28 {
  color: rgb(78, 78, 78);
}
#i1uye2 {
  color: rgb(104, 165, 170);
}
#ihcdsr {
  color: rgb(209, 167, 253);
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}
#i7jxzb {
  width: 3vw;
}
#id46n8 {
  color: rgb(209, 167, 253);
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}
#i0c2q {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
@media (max-width: 992px) {
  #iiwt {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .buttons {
    width: 70vw;
  }
  .buttons {
    width: 70vw;
  }
  .col-md-9 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .button-box {
    margin: 0 0 0 0;
    padding: 12px 12px 12px 12px;
  }
  .button-box {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
  }
  .colored {
    width: auto;
  }
  .colored {
    width: 10vw;
  }
  .facebook {
    margin: 5px 0 5px 0;
  }
  .instagram {
    margin: 5px 0 5px 0;
  }
  .col-md-9 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #iiwt {
    width: 100%;
  }
  #iwufj {
    width: 30%;
  }
  #ix0jc {
    text-align: center;
    font-size: 0.9em;
  }
  #i1jib {
    font-weight: 500;
  }
  #i0c2q {
    justify-content: center;
    align-items: center;
  }
  #i7jxzb {
    width: 10vw;
  }
  #i709qe {
    width: 10vw;
  }
  .facebook {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  .instagram {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
}
